# Railway Deployment Configuration
PORT=5000
MONGODB_URI=mongodb+srv://dishantaarak2696_db_user:Gt457tw8vmXk6LOw@kaunbanegaeinstein.xxlzfp6.mongodb.net/?retryWrites=true&w=majority&appName=kaunbanegaeinstein
NODE_ENV=production
